<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- <nav class="navbar">
        <a href="/">Home</a>
    </nav> -->
    <main id="content">
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for msg in messages%}
                    <section id="messages">
                        <small>{{msg}}</small>
                    </section>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/game.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>